<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Invoice</title>
    <style>
      body {
        font-family: Arial, sans-serif;
      }
      .address-section {
        margin-left: 80px;
        margin-bottom: 20px;
      }
      .address-section .to-address {
        margin-bottom: 40px;
      }
      .inner-address {
        margin-left: 20px;
      }
    </style>
  </head>
  <body>
    <div class="address-section">
      <div class="to-address">
        <p><strong>To</strong></p>
        <div class="inner-address">
          <p>Mr. <%= customerName %></p>
          <p><%= customerAddress.line1 %>,</p>
          <p><%= customerAddress.line2 %>,</p>
          <p><%= customerAddress.city %> - <%= customerAddress.pincode %>.</p>
          <p>Phone No: <%= customerPhone %></p>
        </div>
      </div>
      <div class="from-address">
        <p><strong>From</strong></p>
        <div class="inner-address">
          <p>ANNAPOORNA MITHAI SWEETS & BAKERY</p>
          <p>12/2, RAM NAGAR, BYPASS ROAD,</p>
          <p>NEAR APARNA TOWER,</p>
          <p>MADURAI - 625010.</p>
          <p>Phone No: 9600200484.</p>
        </div>
      </div>
      <br />
      <br />
      <h3><strong>Order Id:</strong> <%= orderId %></h3>
    </div>
  </body>
</html>
